# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Excel temp files
~$*.xlsx
~$*.xls

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

result/
venv/
